<div class="container">
    <div class="row">
        <% @products.each do |p|%>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mr-auto">
                <div class="box card ">
                    <div class="box cardImg img-fluid">
                        <% if p.image.attached? %>
                            <%= image_tag url_for(p.image), class: "thumbnail"%>
                        <%end%>
                    </div>
                    <div class="info">
                        <section>
                            <strong><%= link_to p.title.titleize, product_path(p) %></strong>
                        </section>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>



<!-- <div class="container-sm">
    <div class="row">
        <div class="col-sm-4">
              <div class="thumbnail">
                <img src="http://tech.firstpost.com/wp-content/uploads/2014/09/Apple_iPhone6_Reuters.jpg" alt="" class="img-thumbnail">
                <div class="caption">
                  <h4 class="pull-right">$700.99</h4>
                  <h4><a href="#">Mobile Product</a></h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="ratings">
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                     (15 reviews)
                  </p>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                </div>
                <div class="space-ten"></div>
              </div>
            </div>
    </div>
</div>
-->
