<div class="container-fluid">
<div class="row">
<div class="col">

<h1>Welcome To Palmkings!</h1>
<h4>Your Number one source for cellphones.</h4>
<h4>Check out the wide variety of phones available</h4>
<h4>Got a phone to sell? Start Here</h4>
<h4>Please Login or Sign up </h4>

    <%= link_to 'Sign Up', signup_path%>
    <%= link_to 'Log In', login_path%>

</div>
</div>
</div>
